<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spoon Specialty Services</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
  <div class="logo-area">
    <a href="/">
      <img src="/images/spoon-logo.jpg" alt="Spoon Specialty Services Logo" class="site-logo">
    </a>
  </div>

 <nav class="nav-links">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/travel">Travel</a>
  <a href="/webdesign">Web Design</a>
  <a href="/courier">Courier</a>
  <a href="/booking">Booking</a>
  <a href="/contact">Contact</a>
  <a href="/bookshelf">Bookshelf</a>
</nav>
</header>